<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em Contato comigo!</title>
</head>
<body  style="background-color:aqua;>  
   
    <header style="display: flex;">
        <!--Cabeçalho do meu site-->
        <!-- Aqui começa o meu logo-->
        <section>
            
            <img src="perfil.jfif" alt="foto de perfil" height="300px" width="300px">
        </section>
        <!--Navegação (menu)-->
        <nav>
           | &nbsp;&nbsp;<a href="mysite.html">Sobre mim</a>&nbsp;&nbsp;&nbsp;&nbsp;
           | &nbsp; &nbsp;<a href="entreterimento.html"> Entretenimento</a>&nbsp;&nbsp;&nbsp;&nbsp;
           | &nbsp;&nbsp;<a href="music.html">música</a>&nbsp;&nbsp;&nbsp;&nbsp;  |&nbsp;&nbsp; <a href="contato.html"> Fale comigo</a>

        </nav>
        

    </header>
    <h3>Fale comigo!</h3>

    <h1>Formulário</h1>
<article>
    

<form action="mailton:alicevet19@gmail.com"
method="post"  id="fContato
oninput="result.value=parseInt(valor01.value)+parseInt(valor02.value)">
<fieldset>
    <legend><strong>Nome:</strong></legend>
    <!--Label é o rótulon do input-->
    
    <!--Input campo para digitação do usuario-->
    <input type="text" size=50 name="tName" id="lName" required="required" placeholder="Seu nome"/>
    <br/><br/>
<hr>
    
        <legend><strong>Email:</strong></legend>

        <!--Input campo para digitação do usuario-->
    <input type="text" size=50 name="tName" id="lName" required="required" placeholder="Ex:seu@gmail.com"/>
    <br/><br/>
<hr>
    <legend><strong>Whatzapp:</strong></legend>

    <input type="text" size="50" name="tName" id="lName" required="required" placeholder="Ex: (81)9 0556-7609">
    <br><br>
<hr>
    <legend><strong>Data de Nascimento:</strong></legend>
    <input type="text" size=50 name="tName" id="lName" required="required" placeholder="ex:data/mês/ano"/>
    <br/><br/>
<hr>
    <legend><strong>Deixe sua mensagem:</strong></legend>

    <textarea name="message" cols="30" rows="10" placeholder="Elogios e/ou Críticas"></textarea>
    <br>




    <input type="submit" value="Enviar">
    </fieldset>

    


</form>






</article>
<hr>
<footer>
    <small>Instituto da Oportunidade Social</small>
</footer>


    

    
</body>
</html>