<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    
    <header style="display: flex;">
        <!--Cabeçalho do meu site-->
        <!-- Aqui começa o meu logo-->
        <section>
            
            <img src="perfil.jfif" alt="foto de perfil" height="300px" width="300px">
        </section>
        <!--Navegação (menu)-->
        <nav>
           | &nbsp;&nbsp;<a href="mysite.html">Sobre mim</a>&nbsp;&nbsp;&nbsp;&nbsp;
           | &nbsp; &nbsp;<a href="entreterimento.html"> Entretenimento</a>&nbsp;&nbsp;&nbsp;&nbsp;
           | &nbsp;&nbsp;<a href="music.html">música</a>&nbsp;&nbsp;&nbsp;&nbsp;  |&nbsp;&nbsp; <a href="contato.html"> Fale comigo</a>

        </nav>

    </header>

    <!--Conteúdo de entreterimento-->
    <!--Exemplo de uso <article-->
        <article>

            <h3>One Piece</h3>
            <h6>Nível: 0/10</h6>
            <p>
                <img src="one piece.jfif" alt="one piece e seus personagens" width="115px" height="115px">
            </p>

            <p>
                One Piece é sobre um pirata que estica <br>
                Ele obteve seus poderes comendo uma fruta <br>
                que te lhe concedeu poderes de borracha <br>
            </p>

            <p>
Conheça mais sobre One Piece: &nbsp;<a href="https://www.netflix.com/br/title/80107103" >Leia mais</a>
 

            </p>

        </article>
        <hr>
        <article>


            <h3> The 100</h3>
            <h6>Nível: 9/10</h6>

            <p>
                <img src="the 100.jfif" alt="the 100 e seus personagens"  width="115px"  height="115px">
            </p>

            <p> 
                Quase 100 anos após um apocalipse nuclear na Terra,<br>
                 os sobreviventes de uma estação espacial precisam buscar <br>
                  recursos para garantir a sobrevivência. <br>


            </p>

            Conheça mais sobre The 100: &nbsp;<a href="https://www.netflix.com/br/title/70283264#:~:text=Quase%20100%20anos%20ap%C3%B3s%20um%20apocalipse%20nuclear%20na%20Terra%2C%20os,recursos%20para%20garantir%20a%20sobreviv%C3%AAncia." >Leia mais</a>
        </article>
        <hr>
        <article>

<h3> Gilmore girls</h3>
<h6> Níve: 10/10</h6>

<p>

    <img src="tal mãe tal filha.jfif" alt="A mãe e a filha"  width="115px"  height="115px">
</p>

<p>
    A história acompanha a vida de Lorelai Gilmore, uma mãe solteira que cria sua filha adolescente Rory, <br>
     na cidade de Stars Hollow em Connecticut. As duas agem mais como amigas do que mãe e filha, <br>
     uma relação que Lorelai não teve com sua própria mãe, Emily Gilmore, uma dama da alta <br>

</p>
 Conheça mais sobre Gilmore girls: &nbsp;<a href="https://www.netflix.com/br/title/70155618"> Leia mais</a>
        </article>
        <hr>
        <article>

<h3> Anne With E</h3
    <h6> Nível: 9/10</h6>

    <p>


        <img src="anne with e.jfif" alt="you: joe e beck" width="115px" height="115px" >
    </p>

    <p>
        Anne With An E é uma série canadense transmitida originalmente pelo canal CBC Television. <br>
         A história acompanha a vida de Anne Shirley, uma jovem órfã que, após uma infância de abusos <br>
          entre orfanatos e casas de estranhos, é enviada por engano para viver com um casal de irmãos <br>
           em idade avançada. <br>


    </p>

    <p>

        Conheça mais sobre Anne With An:&nbsp;<a href="https://www.netflix.com/br/title/80136311">Leia mais</a>
    </p>
</article>
<hr>
<article>
    <h3>YOU</h3>
    <h6> Nível 8/10</h6>

    <p>

        <img src="you.jfif" alt=width="80px" height="80px">
    </p>

    <p>

        Um gerente de livraria (Penn Badgley) fica apaixonado por uma aspirante a escritora. <br>
        Como forma de tentar se aproximar, ele pesquisa as redes sociais dela para descobir seus gostos. <br>
        O gerente vai ficando cada vez mais obcecado e é capaz de tudo para afastar quem atrapalha seus planos. <br>

    </p>

    <p>


        Conheça mais sobre Anne With An:&nbsp; <a href="you.jfif">Leia mais</a>
    </p>

    <hr>

    <footer>

        By Alice &copy;
    </footer>
    </body>
    </html>