<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>My Playlist</title>
</head>
<body>
    
    <header style="display: flex;">
    
        <!--Cabeçalho do meu site-->
        <!-- Aqui começa o meu logo-->
        <section>
            
            <img src="perfil.jfif" alt="foto de perfil" height="300px" width="300px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            &nbsp;&nbsp;<a href="mysite.html">Sobre mim</a>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;<a href="entreterimento.html"> Entretenimento</a>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;<a href="music.html">música</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </nav>

    </header>
<!--seção para minha playlist-->

<main>
<h3>Top10 das minhas músicas</h3>
<ol>
    <li>Say Yes to Heaven -Lana del Rey</li>
    <li>Bohemian Rhapsody -Queen </li>
    <li>Fade Into You -Mazzy Star</li>
    <li>Shinunoga E-Wa -Fuji Kaze</li>
    <li>Never Say Never -Justin Bieber</li>
    <li>Style -Taylor Swift</li>
    <li>Eu Sei de Cor -Marília Mendonça</li>
    <li>Million Dollar Man -Lana del Rey</li>
    <li>Deixa Acontecer -Grupo Revelação</li>
    <li>Love yourself -BTS</li>
</ol>

</main>

<hr>
<footer>

    By Alice &copy;
</footer>
        
    </body>