<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    
    <header style="display: flex;">
        <!--Cabeçalho do meu site-->
        <!-- Aqui começa o meu logo-->
        <section>
            
            <img src="perfil.jfif" alt="foto de perfil" height="300px" width="300px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            &nbsp;&nbsp;<a href="mysite.html">Sobre mim</a>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;<a href="entreterimento.html"> Entretenimento</a>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;<a href="music.html">música</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </nav>

    </header>

    <!--Conteúdo principal do my site-->
    <main>
        <h1>Welcome to my world</h1>
        <p>
            Hello, meu nome é Maria Alice Sophia. <br>
            Podem me chamar como quiser, afinal tenho três nomes. <br>
            Aqui de Recife mesmo, boy. Nascida e criada. <br>
            <h3> Coisas sobre mim</h3>
            <ul>
<!--Lista não ordenada-->
<li> Estudo só pelo conhecimento</li>
<li>Mãe de pet
    <ul>
        <li>
            Ciro Gomes da Silva Costa (Cachorro)
        </li>
    
    </ul>
</li>
 <li> Tenho como praticas:</li>
 <ul>
<li> Vôlei</li>
<li>Ler</li>

 </ul>

 <li> Adoro comer sushi, melancia,açai, bolinho de infância</li>

            </ul>

        </p>
    </main>
    <!--Rodapé-->
    <hr>
    <footer>

        By Alice &copy;
    </footer>

</body>
</html>